body {
  background-color: lime;
  font-family: helvetica;
  color: white;
  text-align: center;
}

.theme {
  background-color: blue;
  text-align: center;
  padding: 1px;
  width: 100%;
}

#hangMan {
  background-color: black;
  width: 500px;
  height: 500px;
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

li {
  list-style-type: none;
  position: relative;
  margin: 0px 1em;
  display: inline-block;
  font-size: 2em;
  min-width: 1em;
}

li.hidden {
  color: transparent;
  border-bottom: 1px solid black;
}

button {
  background: white;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 15px -3px;
  border-radius: 5px;
  height: 3em;
  width: 3em;
  user-select: none;
  outline: none;
}

#bottomWrap {
  display: block;
  height: 50px;
  padding: 30px 0;
}
