* {
    box-sizing: border-box;
}
    
body {
    background: rgb(248, 248, 248);
    font-family: helvetica;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

#category {
    color: rgb(60, 100, 169);
    font-weight: bold;
}



#midBottomWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.theme {
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    text-align: center;
    padding: 1px;
    width: 100%;
}

#hangman {
    width: 50vw;
    height: auto;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

li {
  list-style-type: none;
  position: relative;
  margin: 0px 1em;
  display: inline-block;
  font-size: 2em;
  min-width: 1em;
}

li.hidden {
    color: transparent;
    border-bottom: 1px solid black;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}

li.show {
    color: rgb(61 118 180);
    border-bottom: none;
    font-size: 12px;
    display: inline-block;
    text-align: center;
}

ul {
    padding: 0px;
}

button {
  background: white;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 15px -3px;
  border-radius: 5px;
  height: 3em;
  width: 3em;
  user-select: none;
  outline: none;
  cursor: pointer;
  margin: 3px;
}


#bottomWrap {
  display: block;
  height: 50px;
  padding: 0;
  cursor: pointer;
  margin: 0;
}

.right-letter {
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}

.wrong-letter {
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
}

#message {
    font-size: 20px;
    color: rgb(91, 197, 181);
}


#my-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); 
}

#modal-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 350px;
}

.modal-header {
    padding: 10px 16px;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    color: white;
    text-align: center;
 
}

.modal-body {
    background: rgb(248, 248, 248);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.modal-cats {
    display: flex;
    justify-content: space-evenly;
}

#cat1 {
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    text-align: center;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    padding-top: 12px;
    margin: 2px;
}

#cat2 {
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);    
    text-align: center;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    padding-top: 12px;
    margin: 2px;
}

#cat3 {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);    
    text-align: center;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    padding-top: 12px;
    margin: 2px;
}

#click {
    font-size: 18px;
    color: rgb(62, 118, 180);
}

#clickLetter {
    color: rgb(62, 118, 180);
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.15s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-12px);
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.15s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

